@font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/Vazir-Thin-FD-WOL.woff") format("woff");
}
@font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/Vazir-Light-FD-WOL.woff") format("woff");
}
@font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/assets/fonts/Vazir-Medium-FD-WOL.woff") format("woff");
}
@font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/Vazir-Bold-FD-WOL.woff") format("woff");
}
body,button{
    font-family: "Vazir";
}